/*----------------------------------GERAL---------------------------------------*/
*{
  margin: 0;
  padding:0;
  
}
img-fluid{
  max-width: 100%;
  height: 100%;
  display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
font-family: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
font-family: 'Montserrat', sans-serif; font-weight: 300; 

h1, h2, h3, h4, h5, h6 { 
  font-family: 'Montserrat', sans-serif; 
  font-weight: 300; 
  color:#151C20;
  font-size: 40px;
  
}

a:link { 
 text-decoration:none;
 color:#151C20;
  
} 

p { 
  font-family: 'Open Sans', sans-serif; 
  letter-spacing: -0.05em; 
  font-size: 21px;
}
.caixa {
  padding: 60px 0;
 }

/*----------------------------------COVER---------------------------------------*/

.justificar {
  text-align: justify;
}

.mMainImg{
  width: 400px;
  height: 400px;
  margin: auto;
}

/*----------------------------------INVESTIMENTOS---------------------------------------*/

.mBgInvestimentos{
 background-color: gray; 
 padding: 40px;
}

.mImgInvestimentos{
  width: 70px;
  height: 70px;
  margin: auto;
}
.mDivInvestimentos {
  width: 180px;
  height: 100px;
  margin: auto;
  font-size: 12px;
  text-align: start ;
 }

/*----------------------------------IMAGEM---------------------------------------*/

.imagem{
  background-color: gray;
  height: 500px;

}

/*----------------------------------MISSAO---------------------------------------*/

.missao{
  
  height: 500px;

}

/*----------------------------------GALERIA---------------------------------------*/
.mGalery{
  height: 300px;
  padding: 50px;
}

.owl-carousel img {
   height: 200px;
}/*----------------------------------FOOTER---------------------------------------*/
.mFooter{
  padding: 5px;
  margin-top: 20px;
  background-color: rgba(2, 2, 41, 0.911);
  height: 40px;
  
}


