@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
font-family: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
font-family: 'Montserrat', sans-serif; font-weight: 300; 

h1, h2, h3, h4, h5, h6 { 
  font-family: 'Montserrat', sans-serif; font-weight: 300; 
  color:#151C20;
  font-size:50px;
  font-weight: bold; 
}

h6 {
  margin: auto;
}

p { 
	font-family: 'Alata', sans-serif; letter-spacing: -0.05em; 
  font-size: 21px;
}
.caixa {
  padding: 60px 0;
 }

/*----------------------------------COVER---------------------------------------*/

.cover{
  background-color: #9E5EB2;  
  color: white;
  
}

.mtext {
  text-align: justify;
}

#mc-embedded-subscribe { margin-top: 0 !important; }

.live {
  margin-top: 30px;
  margin-bottom: 10px;
}

.mTextLive {
  text-align: end; 
}
.mBtnLive {

}

.mTable {
  display: inline-block;
  margin-left: 0px;
  color:#F3F1F5;
  font-weight: bold;
  text-align: center;
 
}

.mDate{
  background-color: #e0c2ea;
  border: 1px solid rgb(219, 218, 228);
  padding: 5px;
}

.mString1 {
  font-size: 25px;
}

.mString2 {
  font-size: 16px;
}


/*----------------------------------AMIGAS---------------------------------------*/

.amigas{
  text-align: justify;
}

/*---------------------------------INVITED---------------------------------------*/
.fotoconvidado {
  width: 200px;
  height: 200px ;
  margin: auto;
}
.nomeconvidado {
  margin: auto;
  text-align: center;
  font-size: 16px;
}

.tam {
  font-size:56px;
  font-weight: bold;
  text-align: center;
}

/*----------------------------------FOOTER---------------------------------------*/
#bg-barra {
  background-color: #e0c2ea;
  position: fixed;
  
}
.modalbarra {
  height: 63px;
  text-align: center;
  
}
.rodape{
  height: 300px;
  margin-bottom: 60px;
  background-color: #9E5EB2;  
}
.boxRodape {
  padding: 30px;
}

/*----------------------------------MODAL---------------------------------------*/

.mTextModal{
  font-size: 25px;
  font-weight: 600;

}

.mTextObr{
  font-size: 20px;
}

